# PyCharm
.idea/
*.iml

# VS Code
.vscode/
*.code-workspace


# Python

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/

build/
dist/
**/*.egg-info/
